*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --bg-color: #F3F5FC;
    --main-color: #0A3871;
    --gray-color: #495057;
    --btn-color: #D8DFE8;
}

textarea{
    resize: none;
    border: none;
}

textarea:focus{
    outline: none;
}

button{
    width: 18rem;
    height: 4.1875rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    cursor: pointer;
}

button:hover{
    scale: 1.05;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: 'Inter', 'Poppins', sans-serif;
}


main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1.5fr;
    background-color: var(--bg-color);
}

main > div:first-child{
    display: grid;
    grid-template-rows: .2fr 1fr;
}

#main-logo{
    display: grid;
    place-items: center;
}

main > div:nth-child(2){
    display: grid;
    grid-template-rows: .5fr 2fr;
}

form{
    display: grid;
    grid-template-rows: 1fr .2fr .3fr;

    #text-input-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    textarea{
        width: 85%;
        height: 100%;
        font-size: 2rem;
        background-color: var(--bg-color);
        color: var(--main-color);
    }
}

#label-container{
    display: flex;
    justify-content: center;

    #label{
        width: 85%;
        display: flex;
        align-items: end;
        margin-bottom: 1rem;

        img{
            height: 1rem;
            margin-bottom: .125rem;
        }

        p{
            padding-left: .3rem;
            color: var(--gray-color);
        }
    }
}

#buttons-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#buttons{
    width: 85%;
    display: flex;
    gap: 1.5rem;

    button{
        background-color: var(--btn-color);
        border: 1px solid var(--main-color);
        color: var(--main-color);
    }
}

#buttons > button:first-child{
    background-color: var(--main-color);
    color: #FFFF;
    border: none;
}

#card-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.card{
    width: 80%;
    height: 90%;   
    border-radius: 2rem;
    background-color: #FFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;

    img{
        width: 80%;
        object-fit: cover;
    }

    #labels-container{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        width: 85%;

        h2{
            font-size: 1.3rem;
        }
    
        p{
            font-size: 1rem;
        }
    }
}

#response-container{
    width: 85%;
    height: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    textarea{
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
        color: var(--gray-color);
    }

    textarea:disabled{
        background-color: #fff;
    }

    button{
        background-color: #fff;
        color: var(--main-color);
        border: 1px solid var(--main-color);
    }
}

.hidden{
    display: none;
}

/* Media queries to responsive */
@media screen and (min-width: 966px){
    #mobile-container{
        display: none;
    }
}
@media screen and (max-width: 965px){
    /* main{
        grid-template-columns: none;
        grid-template-rows: .8fr 2fr 1.2fr;
    } */

    main{
        display: none;
    }

    #mobile-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 0 5rem 0 4rem;
        text-align: center;
        background: rgb(2,0,36);
        background: radial-gradient(circle, rgba(2,0,36,1) 1%, rgba(10,56,113,1) 70%);
        color: #FFFF;
    }
}